doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:title" content="DuckDuckGoose")
    meta(property="og:description" content="DuckDuckGoose is a platform where people can post brief thoughts and updates.")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://duckduckgoose.onrender.com/")
    meta(property="og:image" content="/images/android-chrome-512x512.png")
    title DuckDuckGoose
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="manifest" href="/manifests/site.webmanifest")
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/bootstrap-icons.css")
    link(rel="stylesheet" href="/css/style.css")
  body(style="background: url('/images/background.png')")
    include navbar
    main.mx-auto.mb-5.p-3.text-center
      block content
