extends layout/base

block content
  .card.border-primary
    .card-header.bg-info.border-primary
      h1.fs-4.mb-0 Welcome to DuckDuckGoose.
    .card-body
      p DuckDuckGoose is a platform where people can post brief thoughts and updates. These posts are known as honks.
